<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicFsm -->
      <package
            uri="http://basicfsm/"
            class="basicfsm.BasicfsmPackage"
            genModel="model/BasicFsm.genmodel"/>
   </extension>

</plugin>
