<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated FullFsm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fullfsm.presentation.FullfsmModelWizardID"
            name="%_UI_FullfsmModelWizard_label"
            class="fullfsm.presentation.FullfsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FullfsmModelFile.gif">
         <description>%_UI_FullfsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated FullFsm -->
      <editor
            id="fullfsm.presentation.FullfsmEditorID"
            name="%_UI_FullfsmEditor_label"
            icon="icons/full/obj16/FullfsmModelFile.gif"
            extensions="fullfsm"
            class="fullfsm.presentation.FullfsmEditor"
            contributorClass="fullfsm.presentation.FullfsmActionBarContributor">
      </editor>
   </extension>

</plugin>
