<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated L2 -->
      <package
            uri="http://l2/"
            class="l2.L2Package"
            genModel="model/L2.genmodel"/>
   </extension>

</plugin>
