<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated L3 -->
      <package
            uri="http://l3/"
            class="l3.L3Package"
            genModel="model/L3.genmodel"/>
   </extension>

</plugin>
